select{
	padding-right:20px;
}
.shift-table-date{
	width: 230px;
}
.shift-table-time{
	width: 175px;
}
.shift-table-hours{
	width: 50px;
}
.shift-table-rate{
	width: 50px;
}
.shift-table-earned{
	width: 75px;
}
.shift-table-status{
	width: 100px;
}
.shift-table-notes{
	width: 230px;
}
.shift-table-actions{
	width: 100px;
}
@media only screen and (min-width: 64.0625em){
	.shift-table-body-notes {
		width: 230px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.shift-table-body-notes:hover{
		overflow: visible; 
		white-space: normal;
	}
}
